.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* My CSS */

.content-box {
  border: 1px solid black;
  width: 550px;
  height: 500px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  background-color: lightgray;
  margin: 20px;
}

.header {
  border-bottom: 1px solid black;
  padding: 0 0 20px 0;
  margin: 10px 20px 0px 20px;
}

.film-list {
  border-bottom: 1px solid black;
  margin: 0px 20px;
}

#film-item-anchor {
  text-decoration: none;
  color: rgb(5, 63, 157);
  cursor: pointer;
}

.film-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.delete-button {
  height: 20px;
  position: absolute;
  right: 950px;
}

.footer {
  margin: 10px 20px;
}

.footer-anchor {
  border: 1px solid black;
  background-color: rgb(158, 187, 233);
  text-decoration: none;
  color: rgb(5, 63, 157);
  cursor: pointer;
  margin: 10px 20px;
}